extends ../emailTMP

block content
  //- Content
  p Hi #{name},
  p Once again thank you for registering with AfriHiqar.
  p We would like to let you know, we take your security and that of our customers serious.
  P So as to protect us all, we would like you to help us prevent fraud and other cyber crime incidents by confirming your account before engaging with AfriHiqar.
  p Click the button below to confirm your account
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  - const baseUrl = url ? url : ""
                  a(href=`${url}/users/confirm-account`, target='_blank') Confirm Your Account
                  br
  table
    tbody
        tr
          td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td
                    p 
                      small
                        b PS: You have 24 hour before your account is temporarily suspended.
                    <br />
                    <br />
                    p Cheer!
                    p Yours truly CEO AfriHiqar,
                    p Mark Njoroge
